{% extends 'mobile/main_layout.html' %}

{% load static %}

{% block title %}Contact SyncTab{% endblock %}

{% block header %}
    <h1>Contact</h1>
    <a href="javascript:void(0);" data-rel="back" data-icon="back">Back</a>
    <a href="javascript:void(0);" data-icon="check" class="ui-btn-right">Send</a>
{% endblock %}

{% block content %}
    <div class="paragraph">
        {% comment %}<p>Please, use this form to contact with author or submit your feedback.</p>
        <p>You may also use <a href="{% url submitIssue %}">Submit Issue</a> form to let me know about any problems you're experiencing now.</p>
        <br/>{% endcomment %}
        <form id="contactForm" method="POST">
            {% csrf_token %}

            {% if error %}
                <div class="error">Please check all fields are filled. Everything is <del>important</del> required!</div>
            {% endif %}
            {% if success %}
                <div class="hurray">Thank you for contacting! We will be on touch soon.</div>
            {% endif %}

            <div class="twoColumns">
                <p>
                    <label for="name">Your Name &nbsp;<span>is required</span></label>
                    <input type="text" id="name" name="name" maxlength="500" autofocus="true" placeholder="What's your name?" value="{{ name }}"/>
                </p>

                <p>
                    <label for="email">Your Email &nbsp;<span>is required</span></label>
                    <input type="email" id="email" name="email" maxlength="500" placeholder="What's your email?" value="{{ email }}"/>
                </p>

                <div class="clear"></div>
            </div>

            <p>
                <label for="email">Message &nbsp;<span>is required</span></label>
                <textarea id="message" name="message" rows="0" cols="0" placeholder="Hello SyncTab...">{{ message }}</textarea>
            </p>
            
            <p><input type="submit" class="submitButton" value="Send" data-icon="check"/></p>
        </form>
    </div>
{% endblock %}