{% extends 'mobile/main_layout.html' %}

{% load static %}

{% block title %}Download SyncTab{% endblock %}

{% block header %}
    <h1>Download</h1>
{% endblock %}

{% block content %}
    <h3 id="android">Android Application</h3>
    <p>
        <strong>Latest Version</strong>: 1.0b<br/>
        <strong>Release Date</strong>: 27 Oct 2011<br/>
        <strong>Supported Android</strong>: 2.1 - latest
    </p>
    <a href="downloads/synctab.apk" data-role="button" data-icon="check">Download Now</a>

    <h3 id="chrome">Chrome Extension</h3>
    <p>
        <strong>Latest Version</strong>: 1.0b<br/>
        <strong>Release Date</strong>: 27 Oct 2011<br/>
        <strong>Supported Chrome</strong>: 4.0 - latest
    </p>
    <a href="https://chrome.google.com/webstore/detail/hjjpbgkpgdfnjkgbghajpgcnaolcfcgf"
       rel="external" data-role="button" data-icon="check">Download Now</a>

{% endblock %}