{% extends 'mobile/main_layout.html' %}

{% load static %}

{% block title %}How To Use Chrome Extension{% endblock %}

{% block header %}
    <h1>Chrome Extension</h1>
{% endblock %}

{% block content %}

    <h3>Options Page</h3>

        <p>Options page is available from "Manage Extensions" page. Open your "Manage Extensions" page (this depends on
        your Chrome version), find a SyncTab plugin.</p>
        <div class="docImage">
            <a href="{% get_static_prefix %}image/docs/synctab-extension.png" rel="external">
                <img src="{% get_static_prefix %}image/docs/synctab-extension.png" alt="SyncTab Chrome Extension" width="220"/></a>
            <div class="label">SyncTab Extension</div>
        </div>

        <p>And click on an <em>Options</em> link. You'll see a page like:</p>

        <div class="docImage">
            <a href="{% get_static_prefix %}image/docs/synctab-chrome-options.jpg" rel="external">
                <img src="{% get_static_prefix %}image/docs/synctab-chrome-options.jpg" alt="Chrome Options" width="220"/></a>
            <div class="label">Options Page</div>
        </div>

    <div data-role="collapsible-set">
        <div data-role="collapsible">
            <h3 id="current-account">View Currently Used Account</h3>
            Open SyncTab Extension Options page. If you're registered now, you'll will see an <em>Account</em> item with
            a currently registered user email.
        </div>

        <div data-role="collapsible">
            <h3 id="current-tag">Change Browser Tag</h3>
            Tag used to filter the links to open in the browser. For example, you can select current browser tag to be Home, so any links
            send with tag Hope will be opened in this browser. Such, you may have different Chrome browsers and have different tags for them.
            For example, one browser can be installed in your work computer and another in your home computer.
            Having them different current tags allows you to send links between them. Funny page can be send to the Home browser, while
            some professional article can be send to the Work browser. And you don't need to have them both online to send links.
            You may send a link from Home computer, then turn it off, come to work, turn on your work computer, open browser and in a minute
            browser will receive links.
            <p><strong>Default Chrome browser tag is Chrome.</strong> But you can change it to be Home or Work.</p>
        </div>

        <div data-role="collapsible">
            <h3 id="logout">Logout</h3>
            Open SyncTab Extension Options page. If you're registered now, you'll will see
            an <em>Account</em> item with a <em>Logout</em> button. Click on <em>Logout</em> button.
        </div>

        <div data-role="collapsible">
            <h3 id="bookmarks">Add Links to Bookmarks</h3>
            Open SyncTab Extension Options page. Select Yes for <em>Add Tabs to Bookmarks</em> option.
        </div>

        <div data-role="collapsible">
            <h3 id="notifications">On/Off Notifications</h3>
            Open SyncTab Extension Options page. Select Yes or No for <em>Show Notifications</em> option.
        </div>
    </div>

{% endblock %}