label span { font-size: 0.8em; font-style: italic; line-height: 15px; }
p.point { font-size: 1.2em; font-style: italic; text-align: center; }
img { box-shadow: 1px 1px 20px #999999; border: none; }
img.noShadow { box-shadow: none;}

ul.screenshots { list-style: none; padding: 5px 0 5px 5px !important;}
ul.screenshots li { display: inline;}
ul.screenshots img {
    width: 70px; height: 70px;
	margin: 5px 5px 5px 0;
	padding: 4px;
	background: #ffffff;
	border: 1px solid #efefef;
	box-shadow: 0 0 10px #bfbfbf;
	border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
ul.screenshots img:hover { box-shadow: 0 0 15px #888888; }

.docImage { margin: 10px 5px; text-align: center;}
.docImage img { border: none; margin:5px;}
.docImage .label { font-style: italic; font-size: 0.9em;}
#footer { padding: 10px 5px; font-size: 0.9em; }

.emphasize {
	display: block; margin: 10px 20px 10px;
	text-align: center; line-height: 24px;
	font-size: 1.3em; font-style: italic;
    font-family: serif !important;
}

em { font-family: serif !important; font-style: italic; }