{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Page Is Unavailable</title>
    <meta name="Keywords" content="android, browser, chrome, firefox, synctab, tab, links, bookmarks, synchronize, share, download" />
    <meta name="Description" content="SyncTab is an Android application that sends the links to your desktop or laptop browser directly." />
    <meta name="Author" content="Ruslan Khmelyuk" />

    <link rel="shortcut icon" href="{% get_static_prefix %}image/favicon.png" type="image/png" />
    <link type="text/css" rel="stylesheet" href="{% get_static_prefix %}css/styles.css"/>
</head>
<body>
    <h1>Page unavailable</h1>

    <p>Sorry, but the requested page is unavailable due to a server hiccup.</p>

    <p>Our engineers have been notified, so check back later.</p>
</body>
</html>
