{% extends 'main_layout.html' %}

{% load static %}

{% block title %}How To Use Chrome Extension{% endblock %}

{% block content %}
    <h1>How To Use Chrome Extension</h1>

    <div class="paragraph">
        <p>Options page is available from "Manage Extensions" page. Open your "Manage Extensions" page (this depends on
        your Chrome version), find a SyncTab plugin.</p>
        <div class="docImage">
            <img src="{% get_static_prefix %}image/docs/synctab-extension.png" alt="SyncTab Chrome Extension" width="550"/><br/>
            <div class="label">SyncTab Extension</div>
        </div>

        <p>And click on an <em>Options</em> link. You'll see a page like:</p>

        <div class="docImage">
            <img src="{% get_static_prefix %}image/docs/synctab-chrome-options.jpg" alt="Chrome Options" height="240"/><br/>
            <div class="label">Options Page</div>
        </div>
    </div>

    <h3 id="current-account">View Currently Used Account</h3>
    <div class="paragraph">
        Open SyncTab Extension Options page. If you're registered now, you'll will see an <em>Account</em> item with a currently registered user email.
    </div>

    <h3 id="logout">Logout</h3>
    <div class="paragraph">
        Open SyncTab Extension Options page. If you're registered now, you'll will see
        an <em>Account</em> item with a <em>Logout</em> button. Click on <em>Logout</em> button.
    </div>

    <h3 id="bookmarks">Add Shared Links to Bookmarks</h3>
    <div class="paragraph">
        Open SyncTab Extension Options page. Select Yes for <em>Add Tabs to Bookmarks</em> option.
    </div>

    <h3 id="bookmarks">Enable or Disable Notifications</h3>
    <div class="paragraph">
        Open SyncTab Extension Options page. Select Yes or No for <em>Show Notifications</em> option.
    </div>


{% endblock %}